{% extends 'mypresale/base.html' %}

{% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Обследование СПД</h1>
        </div>

        <table class="table-bordered">
          <thead>
            <tr>
              <th scope="col">Наименование</th>
              <th scope="col">Трудозатрады инженера, дней</th>
            </tr>
          </thead>
        </table>

        {% for item in object_list %} 

        <table class="table-bordered">
          <tbody>
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.days_engineer}}</td>
            </tr>
          </tbody>
        </table>

        {% endfor %}
      </div>
    </section>

    <a class="btn btn-primary" href="examination-create/">Создать</a>

  
    {% endblock %} 