{% extends 'mypresale/base.html' %}

{% block content %}

    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label style="background: #794844;" for="html">Проектно-изыскательские работы</label>
    </form>

    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label style="background: #868a89;" for="html">Проектно-изыскательские работы (Предпроектная стадия)</label>
    </form>

    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Обследование сетевой инфраструктуры Заказчика</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Анализ текущего состояния сетевой инфраструктуры Заказчика</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Технического задания</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Эскизного проекта</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Концепции</label>
    </form>

  

    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label style="background: #868a89;" for="html">Проектно-изыскательские работы (Проектная стадия) (ГОСТ 34)</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Технорабочего проекта в составе:</label>
    </form>
    <form>
      <input style="margin-left:20px;"id="html" type="checkbox">
      <label for="html">Пояснительная записка</label>
    </form>
    <form>
      <input style="margin-left:20px;"id="html" type="checkbox">
      <label for="html">Спецификация оборудования </label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Общая схема решения</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Физическая схема организации связи (L1)</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Логическая схема организации связи (L2)</label>
    </form>

    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Логическая схема организации связи (L3)</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Схема маршрутизации</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Схема расположения оборудования в стойках</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Схема расположения оборудования и кабельных трасс в помещении</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Таблица кабельных соединений</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Схемы адресации</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Отчет по моделированию радиопокрытия беспроводной сети</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Схема крепления беспроводных точек доступа</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Программы и методики испытаний</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Плана производства работ</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Разработка Эксплуатационной документации в составе:</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Описание настроек</label>
    </form>
    <form>
      <input style="margin-left:20px;" id="html" type="checkbox">
      <label for="html">Руководство администратора</label>
    </form>
    {% endblock %}



    
